<a href="https://colab.research.google.com/github/abhijithneilabraham/ExploreML/blob/master/Group10%20-Age%20classification%20/agedetection10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!git clone https://github.com/Parasgr7/Age-Detection-Indian-Actors-

Cloning into 'Age-Detection-Indian-Actors-'...
remote: Enumerating objects: 26096, done.
remote: Total 26096 (delta 0), reused 0 (delta 0), pack-reused 26096
Receiving objects: 100% (26096/26096), 57.17 MiB | 39.00 MiB/s, done.
Resolving deltas: 100% (7405/7405), done.
Checking out files: 100% (26550/26550), done.

In [0]:
%cd Age-Detection-Indian-Actors-

/content/Age-Detection-Indian-Actors-

In [0]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.misc import *
import os
from cv2 import imread,resize

In [22]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train.head()

          ID   Class
0    377.jpg  MIDDLE
1  17814.jpg   YOUNG
2  21283.jpg  MIDDLE
3  16496.jpg   YOUNG
4   4487.jpg  MIDDLE

In [0]:
temp = []
for img_name in train.ID:
    img_path ='Train/'+img_name
    img = imread(img_path)
    img = resize(img, (64,64))
    img = img.astype('float32') # this will help us in later stage
    temp.append(img)

train_x = np.stack(temp)
print(temp)